<application>
	<kinect enable="true"></kinect>
	<leap enable="true" asynchronize="true" fixed="true" scale="0.01"></leap>
	<vicon sever_ip="172.21.12.17" enable="false" verbose="false" scale="0.001"></vicon>

	<assets path="..\Assets\"></assets>
	<scenes path="AvataringTest.xml"></scenes>

	<window width="1920" height="1080" fullscreen="false"></window>
	<console width="640" height="720"></console>
</application>